.container {
  height: 100%;
  margin-left: auto;
  padding: 20px;
}

.list {
  line-height: 40px;
  font-size: 12px;
}

.textarea {
  width: 80%;
  border: 1px solid grey;
  height: 230px;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 0;
}
