.list{
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  background-color: #2a2a2a;
  justify-content: center;
  padding-bottom: 20px ;
  padding-top: 10px;
}

.item{
  width: 180px;
margin-right: 2px;
}

.counterContainer{
    width: 100%;
    background-color: #f27a6f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-right: 5px;
    padding-bottom: 30px;
    border-radius: 7px;
    text-align: center
}

.counterValue {
    font-size: 24px;
  }

